.btn {
  & {
    background-color: var(--terciary-color);
    padding: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px var(--secondary-color) solid;
    font-size: 0.8em;
    color: var(--accent-color-light);
    width: 40%;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--accent-color-light);
    border: 1px solid var(--accent-color-light);
  }
  i {
    margin-right: 10px;
  }
  &:hover {
    transform: scale(1.1);
  }
}

/*Animations and Media Queries*/
@media screen and(max-width: 800px) {
  .btn {
    width: 80%;
    margin: 0;
    padding: 10px;
  }
}
