.menu {
  & {
    background-color: var(--primary-color-opacity);
    padding: 10px;
    animation: opacity 2s linear;
  }
  & > ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  & > ul > li {
    text-align: center;
    list-style-type: none;
    font-size: 0.8em;
    padding: 10px 0;
    cursor: pointer;
  }
  & > ul > li > a {
    & {
      text-decoration: none;
      color: var(--accent-color-light);
    }
  }
}

.theme-container {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 25%;
  right: 1%;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.slider {
  & {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--terciary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 30px;
  }
  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 6px;
    background-color: var(--accent-color-light);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}

.switch input[type="checkbox"] {
  & {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &:checked + .slider {
    background-color: var(--terciary-color);
  }
  &:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color-light);
  }
  &:checked + .slider::before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
}

::slotted(i) {
  color: var(--accent-color-light);
}

/*Animations and Media Queries*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
