.skills-container {
  & {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  & > h2 {
    margin: 20px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  border-radius: 5px;
  gap: 10px;
  background-color: var(--terciary-color);
  border: 1px solid var(--accent-color-light);
  box-shadow: 0px 0px 3px var(--accent-color-light);
}

.skill-subtitle {
  font-weight: bold;
  color: var(--primary-color);
  -webkit-text-stroke: 1px var(--accent-color-light);
  text-align: left;
  width: 40%;
}

.skill-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}

.skill-icon {
  & {
    max-width: 40px;
    height: auto;
    padding: 5px 10px;
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.1);
  }
}
