:root {
  --primary-color: #213555;
  --secondary-color: #4a77bf;
  --terciary-color: #a4a3ec;
  --cuartary-color: #c6c5ea;

  --accent-color-light: #ffffff;
  --accent-color-dark: #000500;

  --primary-color-opacity: #21355555;
  --secondary-color-opacity: #4a77bf55;
  --terciary-color-opacity: #a4a3ec55;
}

[data-theme="dark"] {
  --primary-color: #2d2d2d;
  --secondary-color: #484848;
  --terciary-color: #717171;
  --cuartary-color: #8f8f8f;

  --accent-color-light: #efd9c3;
  --accent-color-dark: #000000;

  --primary-color-opacity: #2d2d2d55;
  --secondary-color-opacity: #48484855;
  --terciary-color-opacity: #71717155;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  color: var(--accent-color-light);
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    var(--terciary-color)
  );
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.container > * {
  position: relative;
  top: 0;
}

.layout {
  position: absolute;
  width: 100%;
}

#nav-bar {
  top: 0;
}

#footer {
  bottom: 0;
}

.d-none {
  display: none;
}

/*Animations & Media Queries*/
@media screen and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }
}
