:root {
  --primary-color: #8a817c;
  --secondary-color: #dfdbd2;
  --terciary-color: #f4f3ee;
  --cuartary-color: #e0afa0;

  --accent-color-light: #1d1b1b;
  --accent-color-dark: #efd9c3;

  --primary-color-opacity: #8a817c55;
  --secondary-color-opacity: #dfdbd255;
  --terciary-color-opacity: #f4f3ee55;
}

[data-theme="dark"] {
  --primary-color: #2d2d2d;
  --secondary-color: #484848;
  --terciary-color: #717171;
  --cuartary-color: #8f8f8f;

  --accent-color-light: #efd9c3;
  --accent-color-dark: #1d1b1b;

  --primary-color-opacity: #2d2d2d55;
  --secondary-color-opacity: #48484855;
  --terciary-color-opacity: #71717155;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--accent-color-light);
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--secondary-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.layout {
  position: fixed;
  width: 100%;
}

#footer.layout {
  position: relative;
  bottom: 0;
}

#home-section,
#about-me-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  top: 0;
}

#footer {
  bottom: 0;
}

/*Animations & Media Queries*/
@media screen and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }
}
